@page
@model Core_ClientApp.Pages.ClientModel
@{
}


<h1>Making Secure call to API Protected using  Azure AD</h1>

<h2>The response is</h2>
<hr/>

<div>
	<strong>
		@Model.ResponseData
	</strong>
</div>
